:root {
    --blue: #2bd2ff;
    --red: #fc03b6 ;
    --sz10: 45vh;
    --sz15: 67.5vh;
    --sz20: 70vh;
    --bxsz10: 10% ;
    --bxsz15: 6.35%;
    --bxsz20: 4.8%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*:focus-visible{
    outline: 0.2em solid #2bd2ff;
    outline-style: inset;
}

body {
    background: #fce3ff;
    overflow: hidden;
}

header {
    border-bottom: 0.5em ridge  #bcafaf66;
}

.header_wrap {
    max-width: 1120px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    margin: 1em auto;
}

.header_nav-wrap {
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio {
    display: block;
    height: 2em;
    width: 14em;
    border-radius: 2em;
}

.description {
    max-width: 640px;
    margin: 10vh auto;
    font-size: 1.1em;
    text-align: center;
}

.description h2{
    text-decoration: #2bd2ff underline double;
}

.description ul {
    line-height: 2rem;
    margin-top: 2.5vh;
    list-style: none;
    text-align: justify;
}

.description ul li {
    position: relative;
}

.description ul li::before {
    content: "";
    background: url(Blue.svg);
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -4%;
    top: 24%;
    box-shadow: inset 0 0 0.5em #2bd2ff, 0 0 0.5em #2bd2ff, 0 0 4em #2bd2ff;
    border-radius: 2rem;
}
.description ul li::after {
    content: "";
    background: url(Red.svg);
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 102%;
    top: 24%;
    box-shadow: inset 0 0 0.5em #fc03b6, 0 0 0.5em #fc03b6, 0 0 4em #fc03b6;
    border-radius: 2rem;
}

.player_wrap select {
    border-radius: 2em;
    background: #f1f3f4;
    text-align: center;
    border: none;
}

.player_wrap,
.next_move-wrap,
.size_wrap{
    height: 100%;
    margin: 0 0.1vw;
}
.nextMove_chip {
    width: 10%;
    margin-left: 0.3em;
    border-radius: 2em;
    color: var(--blue);
    
    box-shadow: inset 0 0 1em currentColor, 0 0 0.5em currentColor;
}

.size_wrap select {
    margin-left: 0.3em;
    background: #f1f3f4;
    border: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.size_wrap span{
    display: block;
}

.header_item-border {
    background: #f1f3f4;
    border: 0.4em ridge #d39ce9;
    border-radius: 2em;
    box-shadow: #d39ce9 0 0 5px, #f3bdf9 0 0 10px, #f3bdf9 0 0 15px, #f3bdf9 0 0 20px;
}
.header_item-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.start_btn {
    width: 20em;
    height: 3em;
    background: #d2c2fd;
    border-radius: 0.3em;
    border-color: #b39afd;
    cursor: pointer;
    font-weight: bold;
}

.start_btn:hover {
    background: #bcace9;
}

.start_btn:active {
    background: #8b76c2;
}

.board {
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.board_border{
    box-shadow: 0 0 0 0.5em  #babdbe;
}

.modal {
    box-shadow: inset 0 0 0.3rem 0.2em #ffffff5e, 0 0 2rem 0.5em #a122af99;
    margin: 43% 0;
    padding: 1em;
    background: #a122af;
    position: absolute;
    z-index: 1;
    width: 30%;
    border-radius: 0.3rem;
    animation: myAnim 0.3s ease 0s 1 normal forwards;
}

.modal_text{
    text-align: center;
    color: cyan;
    text-shadow: 0 0 0.2rem white, 0 0 1rem cyan;
}

.shakeAnim{
    animation: shakeAnim 0.5s ease 0s 1 reverse forwards;
}

.box {
    background: #fce3ff;
    box-shadow: 0 0 0.5em #c44ed1 ;
    animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.box:hover,
.box:focus,
.box:focus-visible
{
    cursor: pointer;
    box-shadow: 0 0 5em #a122af ;
    background: #ddabe2;
    /* transition: all 0.3s ease-out; */
}

.sink {
    animation: sink 1s ease ;
}


@media (max-width: 1199px) {
    /* CSS для ширины от 992px до 1199px */
  }
  
  /* md-размер (<=991px) */
  @media (max-width: 991px) {
    /* CSS для ширины от 768px до 991px */
  }
  
  /* sm-размер (<=768px) */
  @media (max-width: 767px) {
    /* CSS для ширины от 576px до 767px */
  }
  
  /* xs-размер (<=575px) */
  @media (max-width: 575px) {
    /* CSS для ширины до 575px (включительно) */
  }

 /*  animation  */
@keyframes shakeAnim {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform:  scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes sink {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}
